.content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 0;
  width: 1080px;
  background: #fff;
}

.section {
  margin: auto;
}

.section__search-area {
  padding: 0 40px;
}

.drop-list {
  display: flex;
  gap: 0 30px;
}