.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  max-height: 380px;
  border-radius: 5px;
  background: linear-gradient(#c4b9a8, #8b8170);
  box-shadow: none;
  overflow: hidden;
  transition: box-shadow .5s;
}

.book:hover {
  box-shadow: 0 0 15px #5d4725, 0 0 25px #5d4725;
}

.book__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  box-shadow: 0 10px 15px 0 #5d4725;
}

.book__text-wrap {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*gap: 5px 0;*/
  margin-top: 20px;
  max-width: 100%;
}

.book__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book__text_heading {
  /*margin-top: 20px;*/
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.book__text_paragraph {
  margin-top: 5px;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 18px;
}

.book__authors-list {
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  margin: 5px 0 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-height: 2em;
  overflow-y: auto;
  scrollbar-color: #78684e #afa492; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

.book__authors-list::-webkit-scrollbar {
  width: 3px;
  height: 0;
  background-color: #afa492;
  border-radius: 50px;
}

/* ползунок скроллбара */
.book__authors-list::-webkit-scrollbar-thumb {
  background-color: #78684e;
  border-radius: 50px;
}